#header-text {
	width: 100vw;
	height: 60vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: white;
	margin-top: 10%;
}

#header-intro {
	width: 100%;
	height: 10%;
	margin-left: 2rem;
}

#header-tagline {
	width: 100%;
	height: 70%;
	text-align: center;
	font-family: Cinzel;
	font-size: 7rem;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

#reserve-table,
#browse-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: 5%;
	margin: 1rem;
	border: 2px solid transparent;
}

#reserve-table:hover,
#browse-menu:hover {
	border: white solid 2px;
}
